@charset "UTF-8";

.good_info{
	width:950px;
	margin:0 auto;
}

.good_info_left{
	width:220px;
	float:left;
	margin:0px;
}

.good_info_right{
	width:730px;
	float:right;
	margin:0px;
}
